* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: auto;
  text-align: center;
  margin: 25px;
  letter-spacing: 0.11em;
}

.posts {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

.post-card {
  width: 250px;
  background-color: rgb(112, 153, 189);
  margin-top: 40px;
  padding: 15px;
  text-align: center;
}
